<div class="container">

    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="user.name">
        </div>
        <div class="form group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="user.email">
        </div>
        <div class="form group">
            <label for="pwd">Password</label>
            <input type="text" name="pwd" class="form-control" [(ngModel)]="user.pwd">
        </div>
        <input type="submit" value="save" class="btn btn-success">
    </form>
</div>
